{% extends 'layouts/blank.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chit chat App</title>
    <link rel="stylesheet" href="{% static 'chat.css' %}">
    <div class="wrapper">
        <script src="https://unpkg.com/htmx.org@1.8.4"></script> <!-- Use HTMX version -->
        <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
</head>
<!-- project on hold becouse node js was used we can continue it with Django -->

<body>
    <div class="containerchat_list">
        <div class="chat_list">
            <a class="listitem" href="{% url 'home' %}">
                <img src="{{ other_user.profile.avatar }}" class="w-20 h-20 rounded-full object-cover">
                <span class=" font-bold text-white text-2xl">Public chat</span>
            </a>
            {% for chatroom in user.chat_groups.all %}
             {% if chatroom.groupchat_name %}
             <a class="listitem" href="{% url 'chatroom' chatroom.group_name %}">
                {{ chatroom.groupchat_name|slice:":30" }}
             </a>
             {% endif %}
             {% endfor %}
            {% for chatroom in user.chat_groups.all %}
                {% if chatroom.is_private %}
                       {% for member in chatroom.members.all %}
                           {% if member != user %}
                           <a class="listitem" href="{% url 'chatroom' chatroom.group_name %}">
                              <img src="{{ member.profile.avatar }}" class="w-20 h-20 rounded-full object-cover">
                              <span class=" font-bold text-white text-2xl">{{ member.profile.name }}</span>
                           </a>
                           {% endif %}
                        {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="containerinput">
            <div class="container">
                {% if chat_group.groupchat_name %}
                <h2>{{ chat_group.groupchat_name }}</h2>
                {% endif %}
                <div
                class=" flex text-xl justify-center align-center text-white font-bold bg-black h-32 items-center sticky top-0 z-10">
                {% if other_user %}
                <div id="online-icon" class="m-2 rounded-full bg-blue-500 p-1.5"></div>
                <a href="{% url 'profile' other_user.username %}">
                    <div class="flex items-center gap-2 p-1 sticky top-0 z-10">
                        <img src="{{ other_user.profile.avatar }}" class="w-10 h-10 rounded-full object-cover">
                        <div>
                            <span class=" font-bold text-white">{{ other_user.profile.name }}</span>
                            <span class=" text-sm font-light text-gray-400">@{{ other_user.profile.name }}</span>
                        </div>
                    </div>
                </a>
                {% elif chat_group.groupchat_name %}
                <ul class="flex gap-2" id="groupchat_members">
                    {% for member in chat_group.members.all %}
                    <li>
                        <a href="{% url 'profile' member.username %}" class="flex flex-col text-gray-400 items-center justify-center w-20 gap-2 m-2">
                            <img src="{{ member.profile.avatar }}" class="w-14 h-14 rounded-full object-cover">
                            {{ member.profile.name|slice:":10" }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <div id="online-icon"></div>
                <span id="online-count" class="pr-1"></span> online
                {% endif %}
            </div>
            <div id="chat_messages" hx-swap-oob="beforeend">
                {% for message in chat_messages reversed %}
                {% include 'chatapp/chat_message.html' %}
                {% endfor %}
            </div>
        </div>
        
        <form action="{% url 'home' %}" id="chat_messages_form" class="send" hx-post="{% url 'home' %}" hx-ext="ws"
        ws-connect="/ws/chatroom/{{ chatroom_name }}" ws-send _="on htmx:wsAfterSend reset() me">
        <!-- triggred when aftersend in websocket works -->
        
        {% csrf_token %}
        {{ form }}
        <div class="insta-custom-search">
            <button class="btn" type="submit"><img src="{% static 'send.jpg' %}" alt="#"></button>
        </div>
    </form>
</div>
</div>
    </div>

</html>
{% endblock %}
{% block javascript %}
</body>
<script>
    // Function to scroll the container to the bottom
    function scrollToBottom() {
        const container = document.querySelector('.container')
        if (container) {
            container.scrollTop = container.scrollHeight
        }
    };
    // to scroll down when window is loded
    window.onload = scrollToBottom;
    // play sound when message is sent
    function playsound() {
        const audio = new Audio("{% static 'send.mp3' %}");
        audio.play();
    };

    const onsend = document.getElementById('chat_messages_form');
    if (onsend) {
        onsend.addEventListener('submit', () => {
            playsound();
        });
    };

    function displaychatlist() {
        let
    }


</script>
{% endblock %}